<div class="container"
fxLayout="column"
fxLayoutGap="10px">

    <div fxFlex>
        <div>
            <h3>
                List
            </h3>
            <hr>
        </div>
    </div>

    <div fxFlex *ngIf="movies" [@expand]>
        <mat-grid-list cols="2" rowHeight="200px">
            <mat-grid-tile *ngFor="let movie of movies" [routerLink]="['/moviedetail',movie.id]" appHighlight>
                      <img height="200px" src= '{{ BaseURL + movie.image }}' alt={{movie.name}}>
                <mat-grid-tile-footer>
                    <h1> {{movie.name | uppercase}} </h1>
                </mat-grid-tile-footer>
            </mat-grid-tile>
        </mat-grid-list>        
    </div>
    <div  fxFlex  [hidden]="movies || errMess">
        <mat-spinner>
        </mat-spinner>
        <h4>Loading ... Please wait</h4>
    </div>
    <div fxFlex *ngIf="errMess">
        <h2>Error cannot fetch data</h2>
        <h4> {{errMess}} </h4>
    </div>

           
</div>


